zenSDK Hyper2000 POST.json
[
    {
        "id": "7b283a64e97a52e9",
        "type": "tab",
        "label": "zenSDK Hyper2000 POST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "879b91afb308bc96",
        "type": "http in",
        "z": "7b283a64e97a52e9",
        "name": "API Proxy POST",
        "url": "/properties/write",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "a890c5f5a22fd7c4"
            ]
        ]
    },
    {
        "id": "ad1b38d62db7f75a",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Operation mode",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": false,
        "action": "select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.zendure_manager_operation"
        ],
        "labelId": [],
        "data": "{\"option\":\"off\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "select",
        "service": "select_option",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "15a5a3d4093ff82c"
            ]
        ]
    },
    {
        "id": "a890c5f5a22fd7c4",
        "type": "json",
        "z": "7b283a64e97a52e9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "98fcca8b6bdc7416"
            ]
        ]
    },
    {
        "id": "b7a2ba7b6e2b35cc",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Hyper2000 Limiet Ontladen",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": true,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.hyper2000_output_limit"
        ],
        "labelId": [],
        "data": "{\"value\":\"{{payload.properties.outputLimit}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 680,
        "y": 140,
        "wires": [
            [
                "5420bedf18eda9f4"
            ]
        ]
    },
    {
        "id": "400cad8114a65f5f",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Hyper2000 Limiet Laden",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": true,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.hyper2000_input_limit"
        ],
        "labelId": [],
        "data": "{\"value\":\"{{payload.properties.inputLimit}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "d45ec3ba658172ad"
            ]
        ]
    },
    {
        "id": "98fcca8b6bdc7416",
        "type": "change",
        "z": "7b283a64e97a52e9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acMode",
                "pt": "msg",
                "to": "payload.properties.acMode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "inputLimit",
                "pt": "msg",
                "to": "payload.properties.inputLimit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "outputLimit",
                "pt": "msg",
                "to": "payload.properties.outputLimit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "smartMode",
                "pt": "msg",
                "to": "payload.properties.smartMode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 40,
        "wires": [
            [
                "4a7ea0bd668da74f"
            ]
        ]
    },
    {
        "id": "d45ec3ba658172ad",
        "type": "change",
        "z": "7b283a64e97a52e9",
        "name": "acMode",
        "rules": [
            {
                "t": "change",
                "p": "payload.properties.acMode",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "input",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.properties.acMode",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "output",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 200,
        "wires": [
            [
                "33624c73a39e2c75"
            ]
        ]
    },
    {
        "id": "4dec465eeed2184a",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Bedrijfsmodus",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": false,
        "action": "select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.hyper2000_ac_mode"
        ],
        "labelId": [],
        "data": "{\"option\":\"{{payload.properties.acMode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "select",
        "service": "select_option",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "ad1b38d62db7f75a"
            ]
        ]
    },
    {
        "id": "ebc539c4731fb4fc",
        "type": "http response",
        "z": "7b283a64e97a52e9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "6282d3ebc7ab7be0",
        "type": "comment",
        "z": "7b283a64e97a52e9",
        "name": "Onvangen REST verzoek uit Home Assistant",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "a4b7e695cca39d1f",
        "type": "comment",
        "z": "7b283a64e97a52e9",
        "name": "Verzoek splitsen naar modi en limieten",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "28e817642a236f4b",
        "type": "comment",
        "z": "7b283a64e97a52e9",
        "name": "De juiste vertaling naar acMode en smartMode",
        "info": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "17314c7829620f6f",
        "type": "comment",
        "z": "7b283a64e97a52e9",
        "name": "Statuscode 200 geven zodat het REST request ook weet dat instellen gelukt is",
        "info": "",
        "x": 1210,
        "y": 620,
        "wires": []
    },
    {
        "id": "31a09c2856eba583",
        "type": "comment",
        "z": "7b283a64e97a52e9",
        "name": "Let op klik hier",
        "info": "Zorg dat je op minimaal Gielz April versie of \nlater gebruikt en de juiste waarden\ningevuld hebt op het dashboard-gielz/configuratie\nonder configuratie laden en ontladen.",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a7ea0bd668da74f",
        "type": "function",
        "z": "7b283a64e97a52e9",
        "name": "OutputLimit",
        "func": "const value = Number(msg.payload.properties.outputLimit) || 0;\n\nlet payload = msg.payload; // bestaande payload onthouden\n\nif (isNaN(value)) {\n    payload.properties.outputLimit = 0\n} else {\n    payload.properties.outputLimit = value;\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "b7a2ba7b6e2b35cc"
            ]
        ]
    },
    {
        "id": "5420bedf18eda9f4",
        "type": "function",
        "z": "7b283a64e97a52e9",
        "name": "inputLimit",
        "func": "const value = Number(msg.payload.properties.inputLimit) || 0;\n\nlet payload = msg.payload; // bestaande payload onthouden\n\nif (isNaN(value)) {\n    payload.properties.inputLimit = 0\n} else {\n    payload.properties.inputLimit = value;\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "400cad8114a65f5f"
            ]
        ]
    },
    {
        "id": "959b75c395fe1097",
        "type": "function",
        "z": "7b283a64e97a52e9",
        "name": "relaisstand -> acMode",
        "func": "var acMode = msg.payload.properties.acMode;\nvar relaisstand = msg.payload.relaisstand;\n\nlet payload = msg.payload; // bestaande payload onthouden\n\nif (acMode !== \"input\" && acMode !== \"output\") {\n\n   if (relaisstand == \"Ontlaadstand\") {\n      payload.properties.acMode = \"output\";\n   }\n\n   if (relaisstand == \"Oplaadstand\") {\n      payload.properties.acMode = \"input\";\n   }\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "4dec465eeed2184a",
                "8f043e93af499a11"
            ]
        ]
    },
    {
        "id": "33624c73a39e2c75",
        "type": "api-current-state",
        "z": "7b283a64e97a52e9",
        "name": "zendure 2400 ac relais stand",
        "server": "a27a305a.5ed34",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.zendure_2400_ac_relais_stand",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.relaisstand",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "959b75c395fe1097"
            ]
        ]
    },
    {
        "id": "8f043e93af499a11",
        "type": "debug",
        "z": "7b283a64e97a52e9",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "101030f32f3c84a7",
        "type": "debug",
        "z": "7b283a64e97a52e9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "f5215738e966c13f",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Hyper2000 minimale SOC",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": true,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.hyper2000_min_soc"
        ],
        "labelId": [],
        "data": "{\"value\":\"{{payload.properties.minSoc}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "f616d54cc5fc5f47"
            ]
        ]
    },
    {
        "id": "15a5a3d4093ff82c",
        "type": "api-current-state",
        "z": "7b283a64e97a52e9",
        "name": "minSoc",
        "server": "a27a305a.5ed34",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.hyper2000_min_soc",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.minSoc",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "5b71938202e0993d"
            ]
        ]
    },
    {
        "id": "5b71938202e0993d",
        "type": "function",
        "z": "7b283a64e97a52e9",
        "name": "minSoc",
        "func": "const new_minSoc = msg.payload.properties.minSoc\nconst current_minSoc = msg.payload.minSoc\n\nlet payload = msg.payload; // bestaande payload onthouden\n\nif (new_minSoc > 0) {\n    msg.payload.properties.minSoc = new_minSoc/10;\n} else {\n    msg.payload.properties.minSoc = current_minSoc;\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 480,
        "wires": [
            [
                "f5215738e966c13f"
            ]
        ]
    },
    {
        "id": "f1ca794d27d35924",
        "type": "api-call-service",
        "z": "7b283a64e97a52e9",
        "name": "Hyper2000 maximale SOC",
        "server": "a27a305a.5ed34",
        "version": 7,
        "debugenabled": true,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.hyper2000_soc_set"
        ],
        "labelId": [],
        "data": "{\"value\":\"{{payload.properties.socSet}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 680,
        "y": 660,
        "wires": [
            [
                "ebc539c4731fb4fc"
            ]
        ]
    },
    {
        "id": "f616d54cc5fc5f47",
        "type": "api-current-state",
        "z": "7b283a64e97a52e9",
        "name": "socSet",
        "server": "a27a305a.5ed34",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.hyper2000_soc_set",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.socSet",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "773658da631a08e3"
            ]
        ]
    },
    {
        "id": "773658da631a08e3",
        "type": "function",
        "z": "7b283a64e97a52e9",
        "name": "socSet",
        "func": "const new_socSet = msg.payload.properties.socSet\nconst current_socSet = msg.payload.socSet\n\nlet payload = msg.payload; // bestaande payload onthouden\n\nif (isNaN(new_socSet)) {\n    msg.payload.properties.socSet = current_socSet;\n} else {\n    msg.payload.properties.socSet = new_socSet / 10;\n}\n\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 600,
        "wires": [
            [
                "f1ca794d27d35924",
                "101030f32f3c84a7"
            ]
        ]
    },
    {
        "id": "a27a305a.5ed34",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "ea8c60ddb7468eda",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]
